<div class="row">
    
</div>

<div class="form-group"> 
    <button class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithGoogle()">
        <i class="fab fa-google"></i> Login with Google
    </button>
    <button class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithTwitter()">
        <i class="fab fa-twitter"></i> Login with Twitter
    </button>
    <button class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithFacebook()">
        <i class="fab fa-facebook"></i> Login with Facebook
    </button>
    <button class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithGithub()">
        <i class="fab fa-github"></i> Login with Github 
    </button>
    
</div>



