<div class="container">
    <div class="row">
      <div class="col-6">
        <form #classForm="ngForm" (ngSubmit)="save(classForm.value)">
          <div class="form-group row">
            <div class="col-8">
                <label for="name">Name</label>
                <input
                  required
                  #name="ngModel"
                  [(ngModel)]="charClass.name"
                  id="name"
                  name="name"
                  type="text"
                  class="form-control"
                />
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                  Name is required.
                </div>
            </div>
            <div class="col-4">
              <label for="active">Active</label>
              <input
                #name="ngModel"
                [(ngModel)]="charClass.active"
                id="active"
                name="active"
                type="checkbox"
                class="form-control">
            </div>
            
          </div>
          
          <div class="row top-margin">
            <div class="col-12">
                <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
                    <button class="btn btn-primary w-100">
                      Save
                    </button>
                    <button type="button" class="btn btn-primary w-100" (click)="cancel()">
                      Cancel
                    </button>
                    <button type="button" class="btn btn-danger w-100" (click)="delete()">
                      Delete
                    </button>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
      </div>
    </div>
  </div>
  