<div class="container">
  <div class="row">
    <div class="col-6">
      <form #monsterForm="ngForm" (ngSubmit)="save(monsterForm.value)">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            required
            #name="ngModel"
            [(ngModel)]="monster.name"
            id="name"
            name="name"
            type="text"
            class="form-control"
          />
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            Name is required.
          </div>
        </div>
        <hr />
        <div class="row form-group top-margin">
          <div class="col-4">
            <label for="alignment">Alignment</label>
            <select
              required
              #alignment="ngModel"
              [(ngModel)]="monster.alignment"
              id="alignment"
              name="alignment"
              class="form-control"
            >
              <option value="">Select</option>
              <option value="lawful good">Lawful Good</option>
              <option value="neutral good">Neutral Good</option>
              <option value="chaotic good">Chaotic Good</option>
              <option value="lawful neutral">Lawful Neutral</option>
              <option value="true neutral">True Neutral</option>
              <option value="chaotic neutral">Chaotic Neutral</option>
              <option value="lawful evil">Lawful Evil</option>
              <option value="neutral evil">Neutral Evil</option>
              <option value="chaotic evil">Chaotic Evil</option>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="alignment.touched && alignment.invalid"
            >
              Alignment is required.
            </div>
          </div>
          <div class="col-4">
            <label for="ac">Armor Class</label>
            <input
              required
              #ac="ngModel"
              [(ngModel)]="monster.armor_class"
              id="ac"
              name="ac"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="ac.touched && ac.invalid">
              Armor Class is required.
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="size">Size</label>
                <select
                  required
                  #size="ngModel"
                  [(ngModel)]="monster.size"
                  id="size"
                  name="size"
                  class="form-control"
                  (change)="updateHitDice()"
                >
                  <option value="">Select</option>
                  <option *ngFor="let s of sizes" [value]="s.key">{{toTitleCase(s.key)}}</option>
                </select>
                <div
                  class="alert alert-danger"
                  *ngIf="size.touched && size.invalid"
                >
                  Size is required.
                </div>
              </div>
          <div class="col-4">
            <label for="hdq">Hit Dice</label>
            <input
              required
              #hdq="ngModel"
              [(ngModel)]="monster.hit_dice_qty"
              id="hdq"
              name="hdq"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="hdq.touched && hdq.invalid">
              Armor Class is required.
            </div>
          </div>
        </div>
        <hr />

        <div class="form-group row top-margin">
          <div class="col-4">
            <label for="str">Strength</label>
            <input
              required
              #str="ngModel"
              [(ngModel)]="monster.strength"
              id="str"
              name="str"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="str.touched && str.invalid">
              Strength is required.
            </div>
          </div>
          <div class="col-4">
            <label for="dex">Dexterity</label>
            <input
              required
              #dex="ngModel"
              [(ngModel)]="monster.dexterity"
              id="dex"
              name="dex"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="dex.touched && dex.invalid">
              is required.
            </div>
          </div>
          <div class="col-4">
            <label for="con">Constitution</label>
            <input
              required
              #con="ngModel"
              [(ngModel)]="monster.constitution"
              id="con"
              name="con"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="con.touched && con.invalid">
              Constitution is required.
            </div>
          </div>
        </div>

        <div class="row form-group top-margin">
          <div class="col-4">
            <label for="int">Intelligence</label>
            <input
              required
              #int="ngModel"
              [(ngModel)]="monster.intelligence"
              id="int"
              name="int"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="int.touched && int.invalid">
              Intelligence is required.
            </div>
          </div>
          <div class="col-4">
            <label for="wis">Wisdom</label>
            <input
              required
              #wis="ngModel"
              [(ngModel)]="monster.wisdom"
              id="wis"
              name="wis"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="wis.touched && wis.invalid">
              Wisdom is required.
            </div>
          </div>
          <div class="col-4">
            <label for="cha">Charisma</label>
            <input
              required
              #cha="ngModel"
              [(ngModel)]="monster.charisma"
              id="cha"
              name="cha"
              type="text"
              class="form-control"
            />
            <div class="alert alert-danger" *ngIf="cha.touched && cha.invalid">
              Charisma is required.
            </div>
          </div>
        </div>
        <hr />
        <div class="row form-group top-margin">
          <div class="col-4">
            <label for="prof">Proficiency</label>
            <input
              required
              #prof="ngModel"
              [(ngModel)]="monster.proficiency"
              id="prof"
              name="prof"
              type="text"
              class="form-control"
            />
            <div
              class="alert alert-danger"
              *ngIf="prof.touched && prof.invalid"
            >
              is required.
            </div>
          </div>
          
          <div class="col-4">
            <label for="cost">Cost</label>
            <input
              required
              #cost="ngModel"
              [(ngModel)]="monster.cost"
              id="cost"
              name="cost"
              type="text"
              class="form-control"
            />
            <div
              class="alert alert-danger"
              *ngIf="cost.touched && cost.invalid"
            >
              is required.
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12">
              <ngb-accordion  [closeOthers]="true" #acc="ngbAccordion">
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Skills</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row " *ngFor="let mod of filterModsOfType('skills')">
                            <div class="col-12">
                                <skill-edit
                                [name]="mod.name"
                                [(totalCost)]="monster.cost"
                                [base]="0" 
                                [(skill)]="monster[mod.type][mod.location]" 
                                
                              ></skill-edit>
                            </div>
                        </div>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                      <ng-template ngbPanelTitle>Saves</ng-template>
                      <ng-template ngbPanelContent>
                          <div class="row top-margin" *ngFor="let mod of filterModsOfType('ability')">
                              <div class="col-2 text-right">
                                  <input type="checkbox" ng-true-value="1" ng-false-value="0" class="form-check-input" [name]="mod.location"  [(ngModel)]="monster.saves[mod.location]" >
                                </div>
                                <div class="col-10">
                                    <b>{{mod.name}}</b>
                                </div>
                          </div>
                        
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Condition Modifiers</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row" *ngFor="let mod of filterModsOfType('conditions')">
                            <div class="col-12">
                                <dnc-edit
                                [name]="mod.name"
                                [(totalCost)]="monster.cost"
                                [base]="monster.condition_modifiers[mod.location]" 
                                [(dnc)]="monster.condition_modifiers[mod.location]" 
                              ></dnc-edit>
                            </div>
                        </div>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Damage Modifiers</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row" *ngFor="let mod of filterModsOfType('damage')">
                            <div class="col-12">
                                <dnc-edit
                                [name]="mod.name"
                                [(totalCost)]="monster.cost"
                                [base]="monster.damage_modifiers[mod.location]" 
                                [(dnc)]="monster.damage_modifiers[mod.location]"
                              ></dnc-edit>
                            </div>
                        </div>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel>
                      <ng-template ngbPanelTitle>Actions</ng-template>
                      <ng-template ngbPanelContent>
                          
                        <div class="row top-margin" >
                          <div class="col-5"><b>Primary Attack</b></div>
                          <div class="col-7">
                            <select [(ngModel)]="monster.actions.primary" id="primary" name="primary" class="form-control">
                              <option *ngFor="let weapon of weapons" [value]="weapon.key">{{weapon.name}}</option>
                            </select>                                
                          </div>
                        </div>
                        <div class="row top-margin" >
                          <div class="col-5"><b># of Attacks</b></div>
                          <div class="col-5">
                            <option-quantity
                              [max]="4"
                              [step]="1"
                              [costval]="4" 
                              [baseval]="1" 
                              [(totalcost)]="monster.cost" 
                              [(optval)]="monster.actions.attack_number"
                          ></option-quantity>
                          </div>
                          <div class="col-2">
                            <span class="cost badge badge-danger badge-pill"> 4 </span>
                          </div>
                        </div>
                        <div class="row top-margin" >
                            <div class="col-2 text-right">
                              <input type="checkbox" class="form-check-input" ng-true-value="true" ng-false-value="false"  name="multiattack"  [(ngModel)]="monster.actions.multiattack" (change)="updateWeapon()">
                            </div>
                            <div class="col-8">
                              <b>Multiattack</b>
                            </div>
                            <div class="col-2">
                              <span class="cost badge badge-danger badge-pill"> 2 </span>
                            </div>
                          </div>
                        <div class="row top-margin" *ngIf="monster.actions.multiattack" >
                          <div class="col-5"><b>Offhand Attack</b></div>
                          <div class="col-7"> 
                              <select [(ngModel)]="monster.actions.secondary" id="secondary" name="secondary" class="form-control">
                                <option *ngFor="let weapon of offHandWeapons()" [value]="weapon.key">{{weapon.name}}</option>
                              </select>
                          </div>
                        </div>
                        
                    </ng-template>
                </ngb-panel>
              </ngb-accordion>
          </div>
        </div>
          
          
        <!--
          <div class="row form-group top-margin">
            <div class="col-4">
                <label for=""></label>
                <input required #="ngModel" [(ngModel)]="monster." id="" name="" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf=".touched && .invalid">
                  is required.
                </div>
            </div>
            <div class="col-4">
                <label for=""></label>
                <input required #="ngModel" [(ngModel)]="monster." id="" name="" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf=".touched && .invalid">
                  is required.
                </div>
            </div>
            <div class="col-4">
                <label for=""></label>
                <input required #="ngModel" [(ngModel)]="monster." id="" name="" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf=".touched && .invalid">
                  is required.
                </div>
            </div>
          </div>
        -->
        <div class="row top-margin">
          <div class="col-4"><button class="btn btn-primary">Save</button></div>
          <div class="col-4">
            <button type="button" class="btn btn-primary" (click)="cancel()">
              Cancel
            </button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-danger" (click)="delete()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6">
      <monster-card [monster]="monster" [edit]="false"></monster-card>
    </div>
  </div>
</div>
