<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
            <label for="baseMonster">Select Base Monster</label>
            <select id="baseMonster" name="baseMonster" (change)="setBase()" [(ngModel)]="selectedMonster" class="form-control">
                <option  *ngFor="let monster of filteredMonsters" [ngValue]="monster">{{monster.name}}</option>
              </select>
        </div>
      </div>
      <div class="row" *ngIf="selectedMonster && modifiers">
        <div class="col-12">
          <ngb-accordion  [closeOthers]="true" #acc="ngbAccordion">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span>Stats</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row top-margin" [class.hidden]="mod.type!=='ability'" *ngFor="let mod of modifiers">
                            <div class="col-7"><b>{{mod.name}}</b></div>
                            <div class="col-5">
                              <option-quantity
                                [max]="25"
                                [step]="1"
                                [costval]="mod.cost" 
                                [baseval]="baseMonster[mod.location]" 
                                [(totalcost)]="selectedMonster.cost" 
                                [(optval)]="selectedMonster[mod.location]"
                              ></option-quantity>
                            </div>
                      </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                  <ng-template ngbPanelTitle>
                      <span>Size</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row top-margin" [class.hidden]="mod.type!=='size'" *ngFor="let mod of modifiers">
                        <ng-container>
                            <div class="col-2 text-right">
                              <input type="radio" class="form-check-input" [value]="mod.name"  name="size"  [(ngModel)]="currentSize" (change)="updateSize(mod)" >
                            </div>
                            <div class="col-8">
                                <b>{{mod.name}}</b>
                            </div>
                            <div class="col-2">
                                <span class="cost badge badge-danger badge-pill"> {{mod.cost}} </span>
                            </div>
                          </ng-container>      
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span>Movement</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row top-margin" [class.hidden]="mod.type!=='speed'" *ngFor="let mod of modifiers">
                            <div class="col-4"><b>{{mod.name}}</b></div>
                            <div class="col-8" *ngIf="mod.type==='speed'">
                              <option-quantity *ngIf="mod.location === 'base'"
                                [max]="90"
                                [step]="5"
                                [costval]="mod.cost" 
                                [baseval]="baseMonster[mod.type][mod.location]" 
                                [(totalcost)]="selectedMonster.cost" 
                                [(optval)]="selectedMonster[mod.type][mod.location]"
                              ></option-quantity>
                            </div>  
                        </div>
                    </ng-template>
                  </ngb-panel>
              <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span>Combat</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                      <div class="row top-margin" [class.hidden]="mod.type!=='combat'" *ngFor="let mod of modifiers">
                          <div class="col-4"><b>{{mod.name}}</b></div>
                          <div class="col-8">
                            <option-quantity 
                              [max]="9"
                              [step]="1"
                              [costval]="mod.cost" 
                              [baseval]="baseMonster[mod.location]" 
                              [(totalcost)]="selectedMonster.cost" 
                              [(optval)]="selectedMonster[mod.location]"
                            ></option-quantity>
                          </div>  
                      </div>
                  </ng-template>
                </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span>Special Abilities</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row" [class.hidden]="mod.type!=='special'" *ngFor="let mod of modifiers">
                        <ng-container>
                          <div class="col-2 text-right">
                            <input type="checkbox" class="checkbox" [(ngModel)]="mod.added" (change)="updateMonster(mod)">
                          </div>
                          <div class="col-8">
                              <b>{{mod.name}}</b>
                          </div>
                          <div class="col-2">
                              <span class="cost badge badge-danger badge-pill"> {{mod.cost}} </span>
                          </div>
                        </ng-container>
                      </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-lg btn-block btn-info"
            (click)="createUndead()"
          >
            <span>Save</span>

          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <monster-card *ngIf="selectedMonster" [edit]="true" [monster]="selectedMonster"></monster-card>
    </div>
  </div>
</div>