<h1>Welcome to the Undead Creator</h1>
<p>
  The undead creator was designed and created to allow
  necromancer characters to be able to create unique and
  useful undead creatures without having to create a massive
  army that will bog down combat and trivialize encounters
  with sheer numbers.
</p>
<p>
  Once you have logged in/registered for the site, you will be able
  to create and save your undead customizations and load previously
  saved creations for quick reference.   It will provide the "cost"
  of creating the undead as well as its combat statistics in an easy
  to read and use format.
</p>

