<div *ngIf="monster.name" class="card">
    <div class="card-header bg-primary">
        <div class="row">
            <div class="col-7">
                    <h4>
                        <span *ngIf="!edit">{{ monster.name }}</span> 
                        <input *ngIf="edit" class="form-control" [(ngModel)]="monster.name" id="monstername" name="monstername" />
                    </h4>
            </div>
            <div class="col-5 text-right">
                <h4>
                    Cost
                    <span class="cost badge badge-danger badge-pill">
                        {{ monster.cost | number:'1.0-2' }}
                    </span>
                </h4>
            </div>
        </div>
        
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <span class="size">{{ monster.size }} </span> 
                <span class="type">{{ monster.type }}</span> 
                <span class="subtype" *ngIf="monster.subtype">, {{ monster.subtype }}</span>
                <span class="alignment">, {{ monster.alignment }}</span>
            </div>
        </div>     
      <hr/>
      <div class="row">
            <div class="col-4 bold">
                    Armor Class:
                 </div>
                 <div class="col-8">
             <span class="armor_class">{{ monster.armor_class }}</span>
          </div>
      </div>
      <div class="row">
            <div class="col-4 bold">
                    Hit Points:
                 </div>
                 <div class="col-8">
                <span class="hit_points">
                    {{ calculated_hit_points() }}
                </span> 
                (<span class="hit_dice">{{monster.hit_dice_qty}}d{{ monster.hit_dice_size }}+{{ bonusHitPoints() }}</span>)
          </div>
      </div>
      <div class="row">
          <div class="col-4 bold">
             Speed:
          </div>
          <div class="col-8">
             <span>{{ monster.speed.base }} ft.</span>
             <span *ngIf="monster.speed.fly>0">, Fly {{ monster.speed.fly }} ft.</span>
             <span *ngIf="monster.speed.hover===true">(Hover)</span>
             <span *ngIf="monster.speed.climb>0">, Climb {{ monster.speed.climb }} ft.</span>
             <span *ngIf="monster.speed.swim>0">, Swim {{ monster.speed.swim }} ft.</span>
             <span *ngIf="monster.speed.burrow>0">, Burrow {{ monster.speed.burrow }} ft.</span>

          </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-2 bold">STR</div>
        <div class="col-2 bold">DEX</div>
        <div class="col-2 bold">CON</div>
        <div class="col-2 bold">INT</div>
        <div class="col-2 bold">WIS</div>
        <div class="col-2 bold">CHA</div>        
      </div>
      <div class="row">
          <div class="col-2"><span [class.danger]="invalidModifier(monster.strength)">{{ monster.strength }}</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.dexterity)">{{ monster.dexterity }}</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.constitution)">{{ monster.constitution }}</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.intelligence)">{{ monster.intelligence }}</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.wisdom)">{{ monster.wisdom }}</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.charisma)">{{ monster.charisma }}</span></div>
      </div>
      <div class="row">
          <div class="col-2"><span [class.danger]="invalidModifier(monster.strength)">({{modifier(monster.strength)}})</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.dexterity)">({{modifier(monster.dexterity)}})</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.constitution)">({{modifier(monster.constitution)}})</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.intelligence)">({{modifier(monster.intelligence)}})</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.wisdom)">({{modifier(monster.wisdom)}})</span></div>
          <div class="col-2"><span [class.danger]="invalidModifier(monster.charisma)">({{modifier(monster.charisma)}}</span>)</div>
      </div>
      <hr />
      <div class="row">
          <div class="col-3"><strong>Prof:</strong> +{{ monster.proficiency }}</div>
          <div class="col-4"><strong>Melee:</strong> {{ calculated_attack(monster.strength) }}</div>
          <div class="col-4"><strong>Ranged:</strong> {{ calculated_attack(monster.dexterity) }}</div>
      </div>
      
      <div class="row" *ngIf="monster.saves">
          <div class="col-3 bold">Saving Throws</div>
          <div class="col-9">
              <span *ngIf="monster.saves.strength">Str +{{monster.saves.strength}}, </span>
              <span *ngIf="monster.saves.dexterity">Dex +{{monster.saves.dexterity}}, </span>
              <span *ngIf="monster.saves.constitution">Con +{{monster.saves.constitution}}, </span>
              <span *ngIf="monster.saves.intelligence">Int +{{monster.saves.intelligence}}, </span>
              <span *ngIf="monster.saves.wisdom">Wis +{{monster.saves.wisdom}}, </span>
              <span *ngIf="monster.saves.charisma">Cha +{{monster.saves.charisma}}, </span>
          </div>
      </div>
      <div class="row" *ngIf="monster.skills">
          <div class="col-3 bold">Skills</div>
          <div class="col-9">
            <skill-display name="Acrobatics" [(skill)]="monster.skills.acrobatics" [statMod]="modifier(monster.dexterity)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Athletics" [skill]="monster.skills.athletics" [statMod]="modifier(monster.strength)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Animal Handling" [skill]="monster.skills.animal_handling" [statMod]="modifier(monster.wisdom)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Arcana" [skill]="monster.skills.arcana" [statMod]="modifier(monster.intelligence)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Deception" [skill]="monster.skills.deception" [statMod]="modifier(monster.charisma)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="History" [skill]="monster.skills.history" [statMod]="modifier(monster.intelligence)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Insight" [skill]="monster.skills.insight" [statMod]="modifier(monster.wisdom)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Intimidation" [skill]="monster.skills.intimidation" [statMod]="modifier(monster.strength)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Investigation" [skill]="monster.skills.investigation" [statMod]="modifier(monster.intelligence)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Medicine" [skill]="monster.skills.medicine" [statMod]="modifier(monster.wisdom)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Nature" [skill]="monster.skills.nature" [statMod]="modifier(monster.intelligence)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Perception" [skill]="monster.skills.perception" [statMod]="modifier(monster.wisdom)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Performance" [skill]="monster.skills.performance" [statMod]="modifier(monster.charisma)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Persuasion" [skill]="monster.skills.persuasion" [statMod]="modifier(monster.charisma)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Religion" [skill]="monster.skills.religion" [statMod]="modifier(monster.intelligence)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Sleight of Hand" [skill]="monster.skills.sleight_of_hand" [statMod]="modifier(monster.dexterity)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Stealth" [skill]="monster.skills.stealth" [statMod]="modifier(monster.dexterity)" [prof]="monster.proficiency"></skill-display>
            <skill-display name="Survival" [skill]="monster.skills.survival" [statMod]="modifier(monster.wisdom)" [prof]="monster.proficiency"></skill-display>
          </div>
      </div>
      <div class="row" *ngIf="monster.damage_immunities">
          <div class="col-34 bold">Dmg. Imm.</div>
          <div class="col-9">
                <span class="damage_immunities" *ngFor="let dmi of monster.damage_immunities; let isLast=last">
                    {{dmi}}{{isLast ? '' : ', '}}
                </span>
          </div>
      </div>
      <div class="row" *ngIf="monster.damage_resistances">
          <div class="col-3 bold">Dmg. Res.</div>
          <div class="col-9">
                <span class="damage_resistances" *ngFor="let dmr of monster.damage_resistances; let isLast=last">
                    {{dmr}}{{isLast ? '' : ', '}}
                </span>
          </div>
      </div>
      <div class="row" *ngIf="monster.condition_immunities">
          <div class="col-3 bold">Cnd. Imm.</div>
          <div class="col-9">
                <span class="condition_immunities" *ngFor="let cdi of monster.condition_immunities; let isLast=last">
                    {{cdi}}{{isLast ? '' : ', '}}
                </span>
          </div>
      </div>
      <div class="row">
          <div class="col-3 bold">Senses</div>
          <div class="col-9">
                Passive Perception {{ monster.skills.perception+modifier(monster.wisdom)+10 }},
                <span class="senses" *ngFor="let sense of monsterKeys(monster.senses); let isLast=last">
                    <span *ngIf="monster.senses[sense]>0">{{toTitleCase(sense)}} {{monster.senses[sense]}}ft{{isLast ? '' : ', '}}</span>
                </span>
          </div>
      </div>
      
      
    <div class="row" *ngIf="checkSpecials()">
        <div class="col-12">
            <hr/>
            <h5>Special Abilities</h5>
        </div>  
    </div>

    <div class="row" *ngIf="monster.elemental.acidic>0">
            <div class="col-12"><b>Acidic:</b> {{ monster.elemental.acidic }}d6 acid damage (melee attack bonus)</div>
    </div>
    <div class="row" *ngIf="monster.elemental.electric>0">
        <div class="col-12"><b>Electric:</b> {{ monster.elemental.electric }}d6 lightning damage (melee attack bonus)</div>
    </div>
    <div class="row" *ngIf="monster.elemental.flaming>0">
            <div class="col-12"><b>Flaming:</b> {{ monster.elemental.flaming }}d6 fire damage (melee attack bonus)</div>
    </div>
    <div class="row" *ngIf="monster.elemental.freezing>0">
            <div class="col-12"><b>Freezing:</b> {{ monster.elemental.freezing }}d6 cold damage (melee attack bonus)</div>
    </div>
    <div class="row" *ngIf="monster.elemental.necrotic>0">
            <div class="col-12"><b>Necrotic:</b> {{ monster.elemental.necrotic }}d6 necrotic damage (melee attack bonus)</div>
    </div>
    <div class="row" *ngIf="monster.elemental.venomous>0">
            <div class="col-12"><b>Venomous:</b> {{ monster.elemental.venomous }}d6 poison damage (melee attack bonus)</div>
    </div>
    <div class="row" *ngIf="monster.actions && monster.actions.length>0">
        <div class="col-12">
        <hr/>
        <h5>Actions</h5>
        <div class="row" *ngFor="let action of monster.actions; let isLast=last">
                <div class="col-12"><b>{{ action.name }}: </b><span *ngIf="action.attack_bonus>0">+{{action.attack_bonus}} to hit; {{action.damage_dice}} damage | </span>{{ action.desc }}</div>
        </div>
        </div>
    </div>
    <div class="row" *ngIf="monster.legendary_actions && monster.legendary_actions.length>0">
        <div class="col-12">
        <hr/>
        <h5>Legendary Actions</h5>
        <div class="row" *ngFor="let action of monster.legendary_actions; let isLast=last">
                <div class="col-12"><b>{{ action.name }}: </b><span *ngIf="action.attack_bonus>0">+{{action.attack_bonus}} to hit; {{action.damage_dice}} damage | </span>{{ action.desc }}</div>
        </div>
        </div>
    </div>
      
    </div>
    <!-- <div *ngIf="showActions && shoppingCart" class="card-footer"> -->
    <div class="card-footer">
        <!-- <button 
            *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
            (click)="addToCart()"
            class="btn btn-primary btn-block" >
            Add to Cart
        </button> -->
        <!-- <ng-template #updateQuantity>
            <product-quantity [product]="product" [shoppingCart]="shoppingCart"></product-quantity>
        </ng-template> -->
    </div>
</div>    