<div class="row">
  <div class="col-12">
    <a class="btn btn-lg btn-info btn-block"
      routerLink="/undead/new"  
    >
      <span>Create Undead</span>
  </a>
  </div>
</div>
<div class="row" *ngIf="undead">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col">
            <ngx-datatable
            class="bootstrap"
            [columnMode]="'force'"
            [rows]="undead"
            [limit]="25"
            [rowHeight]="'auto'"
            [columns]="columns"
            [selected]="selected"
            [selectionType]="'single'"
            (activate)="onActivate($event)"
            (select)='onSelect($event)'>
            >
            
              <ngx-datatable-column name="Name"></ngx-datatable-column>
              <ngx-datatable-column name="Cost"></ngx-datatable-column>
              <ngx-datatable-column name="Active" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
                    <input type="checkbox" [checked]="value" disabled="disabled" />
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Edit" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <button
                      class="btn btn-info btn-sm"
                      (click)="editUndead(row)">
                      <i class="far fa-edit"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Delete" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="deleteUndead(row)">
                      <i class="far fa-trash-alt"></i>
                    </button>                    
                  </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <ngb-accordion  [closeOthers]="true" #acc="ngbAccordion">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span>Spells/Cost</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                      <div class="row top-margin" *ngFor="let spell of necroSpells">
                          <div class="col-5"><b>{{spell.name}}</b></div>
                          <div class="col-5">
                            <spell-quantity 
                              [baseval]="0" 
                              [(totalcost)]="selectedUndead.cost" 
                              [necromancer]="appUser.necromancer"                          
                              [pointval]="spell.points" 
                              [npointval]="spell.npoints"
                              [(optval)]="selectedSpells[spell.key].count">
                            </spell-quantity>
                          </div>
                          <div class="col-2">
                              <div class="col-2">
                                  <span class="cost badge badge-danger badge-pill"> {{spellPoints(spell)}} </span>
                              </div>
                          </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
        <monster-card [monster]="selectedUndead"></monster-card>   
    </div>
  </div>
  