
        <div class="input-group">
            <div class="input-group-prepend">
                <button (click)="decrement()"
                    class="btn btn-outline-secondary btn-primary" 
                    type="button" 
                    id="button-addon1"
                    [disabled]="count===base"
                    >
                    <i class="fas fa-minus"></i>    
                </button>
            </div>
            <input type="text" class="form-control" [(ngModel)]="count" (input)="onChange();">
            <div class="input-group-append">
                <button (click)="increment()" class="btn btn-outline-secondary btn-primary" type="button" id="button-addon2">
                    <i class="fas fa-plus"></i>	
                </button>
            </div>
        </div>
   
