<ngb-panel>
    <ng-template ngbPanelTitle>
        <span>Skills</span>
    </ng-template>
    <ng-template ngbPanelContent>
        <div class="row " *ngFor="let mod of modifiers">
            <div class="col-12">
                <skill-edit
                [name]="mod.name"
                [(totalCost)]="monster.cost"
                [base]="0" 
                [(skill)]="monster[mod.type][mod.location]" 
                
              ></skill-edit>
            </div>
        </div>
    </ng-template>
  </ngb-panel>