<div class="row" *ngIf="appUser">
  <div class="col-12 col-md-6">
      <div class="row top-margin">
        <div class="col-4"><b>Email:</b></div>
        <div class="col-8">
          {{appUser.email}}
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-4"><b>Role:</b></div>
        <div class="col-8">
          {{appUser.role}}
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-4"><b>Theme</b></div>
        <div class="col-8">
          <select class="form-control" name="theme" [(ngModel)]="appUser.theme" (change)="themePreview()">
            <option *ngFor="let theme of themeList" [value]="theme.key">{{theme.name}}</option>
          </select>
        </div>
      </div>
      <hr />
      <div class="row top-margin">
          <div class="col-4"><b>Level:</b></div>
          <div class="col-8">
              <option-quantity
              max="20"
              [(optval)]="appUser.level"
            ></option-quantity>
          </div>
      </div>
      <div class="row top-margin">
        <div class="col-4"><b>Necromancer:</b></div>
        <div class="col-8">
            <input class="form-check-input" type="checkbox" id="necromancerPerk" [(ngModel)]="appUser.necromancer">
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-12">Necromancer (wizards) get additional points when casting Animate and Create Undead spells.</div>
      </div>
      <div class="row top-margin">
        <div class="col-4"><b>Summoner Perk</b></div>
        <div class="col-8">
          <input class="form-check-input" type="checkbox" id="summonerPerk" [(ngModel)]="appUser.summoner">
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-12">
          Any undead summoned have maximum hit points per hit die when you possess the summoner perk.
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-12">
          <button class="btn btn-primary form-control" (click)="saveUser(appUser)">Save Changes</button>
        </div>
      </div>
  </div>
</div>
