<div class="form-group row top-margin" *ngIf="name">
    <div class="col-6"><span>{{name}}</span></div>
    <div class="col-6">
      <div class="">
        <select
          class="form-control"
          [name]="name"
          [id]="name"
          [(ngModel)]="skill"
          (change)="onChange()"
          (focus)="resetCost()"
        >
          <option value="0">Unskilled</option>
          <option value="1">Proficient</option>
          <option value="2">Expert</option>
        </select>
      </div>
      
    </div>
    
</div>
